@using  Bookshelf
@using Microsoft.AspNetCore.Components

@inherits LayoutComponentBase

@inject NavigationManager uriHelper
@inject AppState appstate

@if (appstate.IsSignedIn)
{
    <div class="sidebar">
        <NavMenu />
        <button @onclick="Signout">Déconnexion</button>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">

            @Body
        </div>
    </div>

}
else
{
    <SignIn />
}

@functions
{
    void Signout()
    {
        appstate.IsSignedIn = false;
        uriHelper.NavigateTo("/");
    }
}