@page "/publisher/{Id}"

@using Bookshelf.ViewModel.Page
@using Microsoft.AspNetCore.Components
@using Bookshelf

@inject ApiClient apiClient
@inject NavigationManager uriHelper

<h1>@vm.Title</h1>

@if (vm.BooksAll == null)
{
    <p>Loading...</p>
}
else
{
    <ListBooksTable DataSource=@vm.BooksAll
                    AuthorChanged="@((e) => vm.AuthorChangedHandler(e))"
                    PublisherChanged="@((e) => vm.PublisherChangedHandler(e))" />
}

@functions{
    [Parameter] public string Id { get; set; }

    PublisherPageViewModel vm = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        vm = new PublisherPageViewModel(uriHelper, apiClient);
    }

    protected override async Task OnInitializedAsync()
    {
        vm.UpdatePage(new Guid(Id));
    }
}