@page "/publishers"

@using Bookshelf.ViewModel.Page
@using Microsoft.AspNetCore.Components
@using Bookshelf

@inject ApiClient apiClient
@inject NavigationManager uriHelper

<h1>@vm.Title</h1>

@if (vm.PublishersAll == null)
{
<p>Loading...</p>
}
else
{
<a href="/publisherCreate">Ajouter un éditeur</a>
<table>
    <tr>
        <td>Nom</td>
        <td>Nombre de livres</td>
    </tr>
    @foreach (var publisher in vm.PublishersAll)
        {
    <tr>
        <td><a href="/publisher/@publisher.Id">@publisher.Name</a></td>
        <td>@publisher.NumberOfBooks</td>
    </tr>
        }
</table>
}

@functions{
    PublishersPageViewModel vm = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        vm = new PublishersPageViewModel(uriHelper, apiClient);
    }

    protected override async Task OnInitializedAsync()
    {
        vm.UpdatePage();
    }
}