@page "/"

@using Microsoft.AspNetCore.Components.Services
@using Bookshelf.ViewModel

@inject ApiClient apiClient
@inject IUriHelper uriHelper

<h1>Liste de tous les livres</h1>

@if (vm.BooksAll == null)
{
    <p>Loading...</p>
}
else
{
    <ListBooksTable DataSource=@vm.BooksAll
                    AuthorChanged="@((e) => vm.AuthorChangedHandler(e))"
                    PublisherChanged="@((e) => vm.PublisherChangedHandler(e))" />
}

@functions{
    IndexPageViewModel vm = null;

    protected override void OnInit()
    {
        base.OnInit();
        vm = new IndexPageViewModel(uriHelper, apiClient);
    }

    protected override async Task OnInitAsync()
    {
        vm.UpdatePage();
    }
}